<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCCEBF7E1DC0DB400041E8E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCCEBF921DC0DB410041E8E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCCEBF9D1DC0DB410041E8E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
